.body{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.container{
    width: 750px;
    height: 400px;
    background-color: silver;
}

.top{
    width: 700px;
    height: 100px;
    background-color: navy;
}

img{
    width: 90px;
    height: 90px;
}

.DivSplit{
    position: absolute;
    top: 75px;
    left: 125px;
}

.bottom{
    background-color: lightgray;
    width: 700px;
    height: 350px;
    padding-top: 5px;
}

.h1{
    color: navy;
    font-family: cursive;
    margin-top: 50px;
    margin-left: 25px;
}

.marker{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

h2{
    font-family: cursive;
    color: navy;
}

h3{
    color: navy;
    margin-left: 20px;
    font-family: cursive;
}

.gear{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

h4{
    color: navy;
    font-family: cursive;
}