h1{
    color: aqua;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}   

h2{
    color: white;
    background-color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3{
    color: rebeccapurple;
    background-color: rgb(132, 156, 230);
    text-align: right;
    font-style: normal;
    text-decoration: underline;
}