*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
}

.nav{
    height: 75px;
    background-color: rgb(159,197,248);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: whitesmoke;
    margin-left: 125px;
}
.nav-links{
    display: flex;
    margin-right: 125px;
    list-style-type: none;
    
}
li{
    margin: 0px 20px;
}
.links{
    color: whitesmoke;
    text-decoration-line: none;
}

.main-content{
    width: 950px;
    margin: 0px 125px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: black solid 3px;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}



.card{
    width: 210px;
    background-color: rgb(238,238,238);
}


.margin{
    margin: 20px 50px;
}

.imgs{
    height: 100px;
    border-radius: 50%;
}

.red{
    color: red;
}
.blue{
    color: blue;
}

#pop-up{
    position: fixed;
    height: 100px;
    width: 950px;
    margin: 0px 125px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238,238,238);
    border: black solid 3px;
}

.cookie{
    margin-left: 15;
}

.accept-btn{
    width: 100px;
    height: 25px;
    border: solid black 2px;
    box-shadow: black 3px 3px;
    margin-right: 20px;
    background-color: rgb(159,197,248);
}






