.container{
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-around;
}
.row{
    width: 900px;
    height: 100px;
    background-color: pink;
    margin: 10px;
}

.container2{
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-around;
}
.col{
    width: 900px;
    height: 100px;
    background-color: palegreen;
    margin: 10px;
    flex: 1;
}

.col2{
    width: 900px;
    height: 100px;
    background-color: palegreen;
    margin: 10px;
    flex: 2;
}

.container3{
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-around;
}

.col3{
    width: 900px;
    height: 100px;
    background-color: cyan;
    margin: 10px;
    flex: 2;
}

.col4{
    width: 900px;
    height: 100px;
    background-color: cyan;
    margin: 10px;
    flex: 3;
}


